body.dark-theme {
    background-image: url(/images/universo.jpg);
	text-align: center;
	background-position: center 1%;
	background-size: cover;
	background-repeat: no-repeat;
	position: center;
  }

.body.dark-theme:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
}

  .nav-container img {
    height: 40px;
  }
  .post-title, .catalogue-title {
    color: #283d7e;
  }
  .nav a {
    color: #0768ce;
  }

  h1 {
      background-color: rgba(0,0,0,0.7);
      text-shadow: 2px 3px black;
      color: plum;
      font-size: 50px;
      color: #fff;
      position: relative
  }

  p {
      color: white;
      background-color: rgba(0,0,0,0.4);
      text-shadow: 1px 2px black;
      font-size: 25px;
      font-weight: bold;
  }

  svg {
    background-color: rgba(0,0,0,0.5);
      color: white;
      font-weight: bold;
  }